{% load staticfiles %}
<!doctype html>
<html>
	<head>
		<style>
			body{
				margin: 0px;
				overflow: hidden;
			}
		</style>
	</head>
	<body>
		<div id="epiceditor"></div>
		<script src="{% static 'keyjot/lib/epiceditor-0.2.2/js/epiceditor.min.js' %}"></script>
		<script>
			var editor = new EpicEditor({
				basePath: "{% static 'keyjot/lib/epiceditor-0.2.2/' %}",
				clientSideStorage: false,
				focusOnLoad: true
			}).load();

			function resizeEditor(){
				editor.getElement('container').style.height = (window.innerHeight) + 'px';
				editor.reflow();
			}
			resizeEditor();
			window.addEventListener('resize', resizeEditor);
		</script>
	</body>
</html>
